.UVI_low {
    background-color: green;
    padding: 0 1rem;
    line-height: 1.5;
    border-radius: 2px;
}

.UVI_mod {
    background-color: yellow;
}

.UVI_high {
    background-color: orange;
}

.UVI_veryHigh {
    background-color: red;
}

.UVI_extreme {
    background-color: fuchsia;
}